name: Deploy to Hetzner

on:
  workflow_run:
    workflows: ["Publish Docker Image to Docker Hub"]
    types:
    - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            podman stop voetschm/hn_bot
            podman rm voetschm/hn_bot
            fuser --kill data/hn_bot.db
            podman pull voetschm/hn_bot
            podman run -d -v ./data:/app/data -v ./config:/app/config voetschm/hn_bot
